@model IEnumerable<Agri_Energy_Connect.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="container mt-4">
    <div class="row justify-content-between">
        <div class="col-md-6">
            <p>
                <a asp-action="Create" class="btn btn-success">Create New</a>
            </p>
        </div>
        <div class="col-md-6">
            @using (Html.BeginForm("Index", "Products", FormMethod.Get))
            {
                <div class="input-group">
                    <span class="input-group-text">Search By:</span>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="searchBy" id="searchByName" value="ProductName" checked>
                        <label class="form-check-label" for="searchByName">Product Name</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="searchBy" id="searchByCategory" value="ProductCategory">
                        <label class="form-check-label" for="searchByCategory">Category</label>
                    </div>
                    <input class="form-control" type="text" name="searchValue" placeholder="Enter search keyword">
                    <button class="btn btn-success" type="submit">Search</button>
                </div>
            }
        </div>
    </div>
</div>

<table class="table mt-4">
    <thead class="thead-dark">
        <tr>
            <th>Product Name</th>
            <th>Details</th>
            <th>Price</th>
            <th>Production Date</th>
            <th>Quantity</th>
            <th>Unit</th>
            <th>Expiration Date</th>
            <th>Product Category</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                <td>@Html.DisplayFor(modelItem => item.Details)</td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                <td>@Html.DisplayFor(modelItem => item.ProductionDate)</td>
                <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                <td>@Html.DisplayFor(modelItem => item.Unit)</td>
                <td>@Html.DisplayFor(modelItem => item.ExpirationDate)</td>
                <td>@Html.DisplayFor(modelItem => item.ProductCategory.CategoryName)</td>
            
            </tr>
        }
    </tbody>
</table>
