@model IEnumerable<Agri_Energy_Connect.Models.Product>

@{
    ViewData["Title"] = "My Products";
}

<h1>My Products</h1>

<div class="container mt-4">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Product Name</th>
                <th>Details</th>
                <th>Price</th>
                <th>Production Date</th>
                <th>Quantity</th>
                <th>Unit</th>
                <th>Expiration Date</th>
                <th>Product Category</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Details)</td>
                    <td>@Html.DisplayFor(modelItem => item.Price)</td>
                    <td>@Html.DisplayFor(modelItem => item.ProductionDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                    <td>@Html.DisplayFor(modelItem => item.Unit)</td>
                    <td>@Html.DisplayFor(modelItem => item.ExpirationDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.ProductCategory.CategoryName)</td>
                   
                </tr>
            }
        </tbody>
    </table>
</div>
