@model Agri_Energy_Connect.Models.Farm

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Farm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FarmName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FarmName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FarmDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FarmDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FarmAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FarmAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Farmer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Farmer.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
